[Unit]
Description=Static liquidctl configuration

[Service]
Type=oneshot
ExecStart=/usr/local/bin/liquidcfg
ExecStart=/usr/bin/sleep 10

[Install]
WantedBy=default.target
