# linux/.xprofile
#
# Environment variables for X Desktop
#
# Source order:
# DM (including GDM)
#   -> .xprofile -> [env]
#     -> /usr/share/xsessions .desktop file (runs before WM/DE, e.g. openbox)
#

export DKO_SOURCE="${DKO_SOURCE} -> linux/.xprofile {"

# ============================================================================
# Programs
# ============================================================================

# browser
export BROWSER=google-chrome-stable

# QT
export QT_STYLE_OVERRIDE=gtk

# Wine
export WINEPREFIX="${XDG_CONFIG_HOME}/.wine"
export WINEARCH=win32

export DKO_SOURCE="${DKO_SOURCE} }"

# vim: ft=sh :
